html, body{
    max-width: 100%;
    /*overflow-x: hidden;*/
}

body{
    margin :0;
    top : 200px;
    font-family: "Montserrat", Sans-serif;
    width : 100vw;
}

.navbar-button-container{
    width: 100vw;
    background-color: gray;
    display: flex;
    justify-content:center;
}
.navbar-sec{
    width: auto;
    height: auto;
    display: flex;
    justify-content:center;
    
}

.navbar-button-sec{
    margin: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content:center;
    background-color : gray;

}

.nav-button-text{
    margin: 0px;
    font-size: 20px;
}

.navbar-button-sec:hover{
    cursor: pointer;
    background-color : white;
}